*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url(/gifs/31da25138956487.62275e1b26947.gif);
  background-size:cover;
  background-position: center;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 30px;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: rgba(180, 176, 189, 0.8);
  width: fit-content;
}

button {
  font-size: 10px;
  margin-bottom: 10px;
}

#board-size {
  font-size: 10px;
  width: 50px;
}

#color-palette {
  background-color: rgba(177, 177, 177, 0.8);
  border-radius: 50px;
  padding: 5px 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.color{
	border: 1px solid black;
  border-radius: 30px;
	height: 47px;
	width: 47px;
	display: inline-block;
}

#pixel-board{
  display: grid;
  width: fit-content;
  margin: auto;
  /* border: 3px solid blue; */
  margin-bottom: 10px;

}

.pixel{
  border: 1px solid black;
	height: 40px;
	width: 40px;
}